body{
    margin: 0px;
    color: #000000;
}
main{
    background-color: #f8f8f8;
}
h1{
    text-align: left;
}

.navbar {
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}/* Navbar follows if user scrolls down*/
.navbar ul{
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #0F2143;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #eff3f5;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: left;
    margin-right: 25px;
}
.navbar a:hover{
    background-color: #223652;
}
.navbar li{
    float: left;
    align-items: center;
}

body ul{
    text-align: right;
    margin: 10px 0; 
    background-color: 041d3d;
}
main h3, main p {
    text-align: center;
    margin: 10px 0; 
    color: #000000;
    background-color: #f2f4f5;
    padding: px;
}
body, main{
    background-color: #f5f5f5;
}
section{
    color: #000000;
    width: 40%;
    float: left;
    margin: 3%;
}
.Image-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Custom-Image-Home{
    width: 500px;
    height: auto;
}
.Custom-Image-Cv{
    width: 800px;
    height: auto;
    align-items: center;
}
/* CV */
#main {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto; /* Centrera div:en horisontellt */
    max-width: 800px; /* Sätt en maxbredd för att undvika att innehållet blir för brett */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

  /* About me*/
  body.aboutme img{
    max-width: 200%;
    max-height: 700px;
    border: 2px solid #333;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin: 0 auto;
    display: block; 
    margin-bottom: 20px;
    
  }
  body.aboutme .header h1{
    text-align: center;
    margin-top: 40px;
  }
  body.aboutme .header h2{
    text-align: center;
    font-size: 0.9em; /* Reduce font size to 80% of the parent element's font size */
  }
  
  body.aboutme .aboutcontent{
    position: relative;
     /* Justera texten till vänster */
  }
    .text-container{
    position: absolute;
    top: 0;
    left: 120%;
    right: 0%;
    width: 50%;
    
    }

  .leftbox,
    .rightbox {
        padding: 20px; /* Justera utrymmet runt textrutorna */
        border: 1px solid #ddd; /* Lägg till en 1px solid kantlinje med grå färg */
        border-radius: 8px; /* Lägg till en liten rundning på hörnen (valfritt) */
        background-color: #0F2143;
        color:#ddd
    }
    .leftbox{
        order: 1;
    }
    .rightbox{
        order:2;
    }
    /* Portfölj */
    body.portfölj .Portfoljcontainer{
        position: relative;
    }
    .icon {
        cursor: pointer;
    }
    .icon img {
        margin: 2%;
        max-width: 50px; /* Ändra detta till önskad maxbredd */
        max-height: 50px; /* Ändra detta till önskad maxhöjd */
    }
    .icon-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrera innehållet horisontellt */
    }

    .textbox {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .item {
        position: relative;
    }
    /* Kontakta mig sida */

    
    body.contact .body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    Body.contact .header {
        background-color: #333;
        color: #000000;
        text-align: center;
        padding: 20px 0;
    }
    
    body.contact .main {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
    }
    
    .contact-info,
    .contact-form {
        width: 45%;
    }
    
    .contact-info {
        background-color: #ffffff;
        color: #000000;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }
    
    
    .contact-form {
        padding: 20px;
        border: 1px solid #ffffff;
        border-radius: 5px;
    }
    
    .contact-info h2,
    .contact-form h2 {
        margin-top: 0;
    }
    
    .contact-form label,
    .contact-form input,
    .contact-form textarea,
    .contact-form button {
        display: block;
        margin-bottom: 10px;
    }
    
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }
    
    .contact-form button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .contact-form button:hover {
        background-color: #ffffff;
    }
    
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    /* Webriktlinjer*/
    body.webriktlinjer {
        margin: 2000px;

    }
    /* påskägg*/
    .modal {
        display: none; /* Göm modal som standard */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /* style.css */

    /* Styla knappen */
    
  
    
  